Meetups around Romania
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-laptop fa-lg main-list-item-icon"></span>
    <a href="http://www.meetup.com/papers-we-love-bucharest/">PapersWeLove @București</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-laptop fa-lg main-list-item-icon"></span>
    <a href="http://www.meetup.com/papers-we-love-iasi/">PapersWeLove @Iasi</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-laptop fa-lg main-list-item-icon"></span>
    <a href="https://tm.paperswelove.ro">PapersWeLove @Timișoara</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/PapersWeLove-ro">GitHub</a>
  </li>
</ul>
